.home-button
    {
        background-image: linear-gradient(to bottom, #141E30, #234C7B); /* Gradient from pink to orange */
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
        display: block;  /* Ensures the button takes the full width */
        margin: 5px auto;  /* Centers the button horizontally */
    }

.home-button:hover
    {
        background: linear-gradient(to right, #feb47b, #ff7e5f);
    }