{% load static %}
<!--css-->
{% block styles %}
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
{% endblock %}

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <!--Icon-->
      <a class="navbar-brand" href="{% url 'Home' %}">
        <img src="{% static 'Images/Logo.png' %}"
             alt="Logo"
             style="max-height: 50px; width: auto; height: auto;">
      </a>

      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link me-4" href="{% url 'Login' %}">Login</a>
          <a class="nav-link me-4" href="{% url 'FAQ' %}">FAQ</a>
          <a class="nav-link me-4" href="{% url 'About' %}">About Us</a>
          <a class="nav-link me-4" href="{% url 'Contact' %}">Contact Us</a>
        </div>

        <!--request a call button-->
        <button type="button"
                class="navbar-button btn btn-primary"
                data-mdb-ripple-init
                onclick="window.location.href='{% url 'Contact' %}';"
        >
                  Request a call
        </button>

      </div>
    </div>
  </nav>

{% block scripts %}
    <script src="{% static 'JS/Navbar.js' %}" defer></script>
{% endblock %}